<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping-Pong</title>
  </head>
  <body>
    <form action="/results" method="post">
      <label for="number">Insert a number</label>
      <input type="text" name="number">
    </form>
  </body>
</html>
